<h1>Favorite Course</h1>
<%=  render 'show', user: @user %>
<%= link_to 'new course', new_user_root_path %>

<div id="map"></div>

<script>
 if (typeof map == "undefined") {
   let map
   let marker
 }

 function initMap(){
   geocoder = new google.maps.Geocoder()

   map = new google.maps.Map(document.getElementById('map'), {
     center: { lat: 35.681236, lng: 139.767125 },
     zoom: 15,
     mapTypeControl: false
   });

   <% @roots.each do |root| %>
      var marker = new google.maps.Marker({
          position:  { lat: <%= root.latitude %>, lng: <%= root.longitude %> },
          map: map
      });
    <% end %>
 }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Maps_API_Key'] %>&libraries=places&callback=initMap" async defer></script>