<h1>Event calendar</h1>
<%= link_to 'New event', new_admin_event_path %>

<% @events.each do |event| %>
<div>
  <h3>・Title<%= event.title %></h3>
  <h3>・Detail<%= event.detail %></h3>
  <h3>・Schedule<%= event.start %> ~ <%= event.end %></h3>
  <h3>・Location<%= event.location %></h3>
  <%= link_to 'Delete', admin_event_path(event), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
</div>
<% end %>
