<h1>Favorite course</h1>

<p>・Introduction</p>
<% if @favorite_course.present? %>
  <%= @favorite_course.introduction %>
  <%= link_to 'edit', edit_user_favorite_course_path %><br>
<% else %>
  <p>データがありません</p>
  <%= link_to 'New', new_user_favorite_course_path %><br>
<% end %>


<%= link_to 'New Course', new_user_favorite_course_root_path %>
<div class="container">
  <div id="map"></div>
</div>
<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>


