<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-5 mt-4">
      <h3 class=" text-center">-Group edit-</h3>

      <div class="error message mt-4 mb-4">
        <% if @group.errors.any? %>
          <%= @group.errors.count %>error occurred.
          <ul>
            <% @group.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %> 
          </ul>
        <% end %>
      </div>

      <div class="from mb-4">
        <%= form_with model: @group do |f| %>
          <label for="inputNeme">Name</label>
          <%= f.text_field :name, class: "form-control mb-3", autofocus: true, id:"inputName" %>
          <label for="inputTheme">Theme</label>
          <%= f.text_area :theme, class: "form-control mb-3", style: "height: 220px;", autofocus: true, id:"inputTheme" %>
          <% if @group.owner_id == current_user.id %>
            <button class="btn btn-outline-success btn-block mt-4 mb-3" type="submit">Updata</button>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>