<div class="container-floid m-5">
  <h3 class="text-center mb-4 mt-5">-Group show-</h3>
  <div class="row justify-content-center mt-3">
    <h1 class="display-4 mt-5"><%= @group.name %></h1>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-10">
      <p class="wrap-text mt-2 text-center" style="word-break: break-all;"><%= @group.theme %></p>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <% if @group.owner_id == current_user.id %>
      <%= link_to 'Edit', edit_group_path(@group), class: 'nav-link text-success' %>
      <%= link_to 'Delete', group_path(@group), class: 'nav-link text-success', method: :delete, data: {confirm: "Are you sure you want to Delete?"} %>
    <% else %>
      <% if @group.group_users.exists?(user_id: current_user.id) %>
        <%= link_to 'Leave this group', group_group_users_path(@group), method: :delete, data: {confirm: "Are you sure you want to without?"} %>
      <% elsif @group.permits.exists?(user_id: current_user.id)  %>
        <%= link_to 'Request cancel', group_permit_path(@group), style:"color: #28a745;", method: :delete %>
      <% else %>
        <%= link_to 'Join request', group_permits_path(@group), style:"color: #28a745;", method: :post %>
      <% end %>
    <% end %>
  </div>

  <% if @group.owner_id == current_user.id %>
  <div class="row justify-content-center">
    <div class="col-md-5 mt-3">
    <h6 class="text-center mb-4 mt-5">-Member-</h6>
    <div class="scrollable-container" style="height: 200px; overflow-y: scroll;">
      <table class="table table-hover table-responsive-sm">
      <% if @group.group_users.present? %>
        <% @group.users.each do |member| %>
          <tbody class="table-group-divider border-top-color-black">
            <tr>
              <th scope="row">
                <%= image_tag member.get_profile_image(100,100), class: "rounded-circle", style: "width: 50px; height: 50px;" %>
              </th>
              <td>
                <%= member.name %>
              </td>
            </tr>
          </tbody>
        <% end %>
      <% else %>
        <p class="text-center">No member</p>
      <% end %>
      </table>
      </div>
    </div>

    <div class="col-md-5 mt-3">
      <%= render 'permits', permits: @permits %>
    </div>
  </div>

  <% else %>
  
  <div class="row justify-content-center">
    <div class="col-md-5 mt-3">
    <div class="scrollable-container" style="height: 200px; overflow-y: scroll;">
    <h6 class="text-center mb-4 mt-5">-Member-</h6>
      <table class="table table-hover table-responsive-sm">
      <% if @group.group_users.present? %>
        <% @group.users.each do |member| %>
          <tbody class="table-group-divider border-top-color-black">
            <tr>
              <th scope="row">
                <%= image_tag member.get_profile_image(100,100), class: "rounded-circle", style: "width: 50px; height: 50px;" %>
              </th>
              <td>
                <%= link_to user_path, style:"color: #28a745;" do %>
                  <%= member.name %>
                <% end %>さん
              </td>
            </tr>
          </tbody>
        <% end %>
      <% else %>
        <p class="text-center">No member</p>
      <% end %>
      </table>
      </div>
    </div>
  <% end %>

</div>