<h1>Event Show</h1>

  <h3>・Title：<%= @event.title %>
  <h4>・Detail：<%= @event.detail %>
  <h4>・Location：<%= @event.location %>
  <h4>・Schedule：<br>
  Start <%= @event.start %>
  <h4>End <%= @event.end %>
  <%= link_to 'Back', events_path %>
