<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-5 mt-4">
      <h3 class=" text-center">-Post edit-</h3>

      <div class="error message mt-4 mb-4">
        <% if @post.errors.any? %>
          <%= @post.errors.count %>error occurred.
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="from">
        <%= form_with model: @post do |f| %>
          <label for="inputTitle"> Title</label>
          <%= f.text_field :title, class: "form-control mb-3", autofocus: true, id:"inputTitle" %>
          <label for="inputBody">Main text</label>
          <%= f.text_area :body, class: "form-control mb-3", style: "height: 220px;", autofocus: true, id:"inputBody" %>
          <% if @post.user == current_user %>
            <button class="btn btn-outline-success btn-block mt-4" type="submit">Updata</button>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
