<% @posts.each do |post| %>
  <div>
    <p>User pic：<%= image_tag post.user.get_profile_image(100,100) %></p>
    <p>User name：<%= post.user.name %></p>
    <p>Title：<%= link_to post_path(post.id) do %>
      <%= post.title %>
    <% end %></p>
    <p>Body：<%= post.body %></p>
    <p><%= link_to "#{post.post_comments.count} comment", post_path(post.id) %></p>
  </div>
<% end %>
