<h1>New post</h1>

<% if @post.errors.any? %>
  <%= @post.errors.count %>error occurred.
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>
  <h4>body</h4>
  <%= f.text_field :body %>
  <%= f.submit 'Post' %>
<% end %>
