<div class="container">
      <h5 class=" text-center">New activity</h5>

      <div class="from mt-5">
        <%= form_with model: activity do |f| %>
          <%= f.label :mileage %>
          <%= f.number_field :mileage, class: "form-control mb-3", min: 0, step: "0.01", placeholder: '0.00' %>
          <%= f.label :hour %>
          <%= f.text_field :hour, class: "form-control mb-3", placeholder: 'hh:mm:ss' %>
          <button class="btn btn-outline-success btn-block mt-3" type="submit">Submit</button>
        <% end %>
      </div>

  
</div>