<h1>Activity Top</h1>
<%= render 'new', activity: @activity %>

<h3>・Total activity<h3>
<%= "#{@total_mileage} km, #{@total_hour} 時間" %>

<h3>・Activity index</h3>
<% if @activities.present? %>
  <% @activities.each do |activity| %>
    <p>投稿日：<%= activity.created_at.strftime('%Y/%m/%d') %></p>
    <%= activity.mileage %> km, <%= activity.hour %> 時間
  <% end %>
<% else %>
  <p>No activity</p>
<% end %>