<h1>Activity Top</h1>
<%= link_to 'Favorite course', favorite_courses_path %>
<%= render 'new', activity: @activity %>

<h3>・Total activity<h3>
<%= "#{@total_mileage} km    #{@total_time} " %>

<h3>・Activity index</h3>
<% if @activities.present? %>
  <% @activities.each do |activity| %>
    <%= activity.mileage %> km 
    <% hours = '%02d' % (activity.hour.to_i / 3600) %>
    <% minutes = '%02d' % ((activity.hour.to_i % 3600) / 60) %>
    <% seconds = '%02d' % (activity.hour.to_i % 60) %>
    <%= hours %>:<%= minutes %>:<%= seconds %>
    <p>Date：<%= activity.created_at.strftime('%Y/%m/%d') %></p>
    <%= link_to 'Delete', activity_path(activity), method: :delete, data: {confirm: "Are you sure you want to delete?"} %><br>
  <% end %>
<% else %>
  <p>No activity</p>
<% end %>