<!DOCTYPE html>
<html>
  <head>
    <title>Sightrun</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <h2><%= link_to "-Sight Run-", root_path %></h2>
      <li>
        <%= link_to "Post index", posts_path %>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to "New post", new_post_path %>
        </li>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to "My page", user_path(current_user.id) %>
        </li>
        <div class="d-flex justify-content-center mb-2">
          <%= render "searches/search" %>
        </div>
      <% else %>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Sign in", new_user_session_path %>
        </li>
      <% end %>
    </header>
   
    <main>
      <div>
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </main>
    
  </body>
</html>
