<!DOCTYPE html>
<html>
  <head>
    <title>Sightrun</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <h2><%= link_to "-Sight Run-", root_path %></h2>
      <li>
        <%= link_to "Post index", posts_path %>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to "New post", new_post_path %>
        </li>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to "My page", user_path(current_user.id) %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Sign in", new_user_session_path %>
        </li>
      <% end %>
    </header>
    <%= yield %>
    <% if user_signed_in? %>
  <div class="search_from">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :range, options_for_select([['User'],['Book']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"],["前方一致","forward_match"],["後方一致","backward_match"],["部分一致","partial_match"]]) %>
      <%= f.submit "search", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
  </body>
</html>
